/* GENERAL */
.wd-blank-anchor { /* overriding default anchor formatting */
    color: inherit !important;
    text-decoration: inherit !important;
}

/* FOR COLUMN 1: LEFT SIDEBAR */
.wd-left-sidebar-more-height { /* sets height of left sidebar option "More" to 45px  */
    height: 45px;
}
.wd-left-sidebar-more-icon-shift-leftwards { /* shifts "More" button 10px left */
    position: relative;
    left: -10px;
}
.wd-left-sidebar-more-text-shift-leftwards { /* shifts "More" text 10px left */
    position: relative;
    left: -20px;
}

/* FOR COLUMN 2: MAIN CONTENT */
.wd-search-magnifying-glass { /* aligns magnifying glass with search bar */
    position: absolute;
    top: 6px;
    left: 17px;
}
.wd-search-settings-gear { /* aligns settings gear next to search bar */
    position: absolute;
    top: 5px;
    right: 2px;
}
.wd-main-content-image-caption { /* formats caption text for main content's main image */
    color: white;
    bottom: 3px;
    left: 7px;
}

.wd-rounded-top-corners {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.wd-rounded-bottom-corners {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
